/* Projects.css */
.projects-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 320px;
    /* Adjust as needed */
    margin: auto;
    margin-top: 100px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    /* Adjust for max width */
    margin: 0 20px;
    /* Space around the project */
}


.project-details {
    flex: 2;
    /* Take more space for details */
    text-align: left;
    background-color: #008080;
    color: white;
    padding: 50px 20px 70px 20px;
    margin-top: 50px;
    height: 320px;
    border-radius: 10px;

}
.main-heading {
    margin: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}
.arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    /* Adjust size */
    cursor: pointer;
    user-select: none;
    margin: 0 10px;
    /* Space around arrows */
    color: teal;
}

.arrow:hover {
    color: #99e6e6;
    /* Change color on hover */
}